.ui.red.inverted.menu {
  background-color: #dd6a58;
}

.ui.red.inverted.menu .header.item {
  padding: 6px 12px;
}

.ui.red.inverted.menu .header.item img.ui.image {
  height: 30px;
  margin-right: 5px;
}

.ui.main.container {
  margin-top: 64px;
  padding: 32px 0;
  position: relative;
}

.ui.left.dividing.rail {
  padding-top: 60px;
}

.ui.vertical.menu {
  text-align: right;
}

.table.loader {
  margin: 30px 0;
}

.table tr.expanded.row td {
  border-top: none;
  padding: 0.5em 1em 0.5em 5em;
}
