{{#each table.rows as |row|}}
  {{ui-tr
    row=row
    table=table
    onClick=onRowClick
    onDoubleClick=onRowDoubleClick
    onCellClick=onCellClick
    onCellDoubleClick=onCellDoubleClick
  }}
{{else}}
  <tr>
    <td colspan={{table.visibleColumns.length}}>
      {{yield}}
    </td>
  </tr>
{{/each}}
