<div class="ui segments" id="table-ember-data">
  <div class="ui segment">
    <h3 class="ui header">Table with Ember Data</h3>
  </div>
  <div class="ui segment">
    {{! BEGIN-SNIPPET table-ember-data }}
    {{ui-table table}}
    {{! END-SNIPPET table-ember-data }}
  </div>
  <div class="ui segment">
    {{code-snippet name="table-ember-data.hbs"}}
  </div>
</div>
