<div class="ui segments" id="example-basic-table">
  <div class="ui segment">
    <h3 class="ui header">Basic Table</h3>
  </div>
  <div class="ui segment">
    {{! BEGIN-SNIPPET basic-table }}
    {{ui-table table}}
    {{! END-SNIPPET basic-table }}
  </div>
  <div class="ui segment">
    {{code-snippet name="basic-table.hbs"}}
  </div>
</div>
